body {
    background-color: #f2f2f2;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 800;
    background-color: #f2f2f2;
}

.headerimg {
    height: 450px;
}

.boximg {
    height: 350px;
    width: 350px;
}

.textbox {
    height: 350px;
    width: 350px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 36px;
    background-color: white;
}

.overlay {
    margin-top: -250px;
}

.btn {
    font-size: 12px;
    border-radius: 0%;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.companyname {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 48px;
    padding-left: 30%;
    padding-right: 30%;
}

.companysubheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-left: 23%;
    padding-right: 23%;
}

.svg {
    height: 100px;
    width:100px;
}